<div class="container-fluid">
   <table class="table table-hover">
       <thead>
           <tr>
               <th>FirstName</th>
               <th>LastName</th>
               <th>Gender</th>
               <th>Email</th>
               <th>Mobile</th>
               <th>Operations</th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let emp of employees">
               <td>{{emp.firstName}}</td>
               <td>{{emp.lastName}}</td>
               <td>{{emp.gender}}</td>
               <td>{{emp.email}}</td>
               <td>{{emp.mobile}}</td>
               <td>
                   <button class="btn btn-danger" (click)="deleteEmployee(emp.id)">DELETE</button>
               </td>
              
           </tr>
       </tbody>
   </table>
   <div class="bg-success text-white text-center">
    {{message}}
   </div>
  
</div>